<div align="center">

    <h1>Role List</h1>

    <table>
        <tr>
            <td>
                <input type="text" name="name" [(ngModel)]="form.searchParam.name" placeholder="search by role name">
            </td>
            <td>
                <button (click)="search()">search</button>
            </td>
        </tr>
    </table>

    <table border="1px" width="100%">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Description</th>
        </tr>

        <tr align="center" *ngFor="let role of form.list">
            <td>{{role.id}}</td>
            <td>{{role.name}}</td>
            <td>{{role.description}}</td>
        </tr>

    </table>
</div>

<table width="100%">
    <tr>

        <td>
            <button [disabled]="form.pageNo == 0" (click)="previous()">previous</button>
        </td>
        <td align="right">
            <button [disabled]="form.list.length < 5" (click)="next()">next</button>
        </td>

    </tr>
</table>