<div align="center">

    <h3 style="color: red;"> {{ this.form.errorMessage }} </h3>
    <h3 style="color: green;">     {{ this.form.successMessage }} </h3>    
    <h1> Login 
</h1>

<form (submit)="signIn()">
    <table>
        <tr>
            <th>Login:</th> 
            <td><input type="text" name="login" [(ngModel)]="this.form.login" placeholder="Enter your login" required></td>
        </tr>
        <tr>
            <th>Password:</th>
            <td><input type="password" name="password" [(ngModel)]="this.form.password" placeholder="Enter your password" required></td>
        </tr>
        <tr>
            <th></th>
            <td colspan="2"><input type="submit" value="Login"></td>
        </tr>
    </table>
</form>
</div>