<div align="center">

    <h1 *ngIf="form.data.id">Update User</h1>
    <h1 *ngIf="!form.data.id">Add User</h1>
    <h3 style="color: green">{{form.successMsg}}</h3>
    <h3 style="color:red">{{form.errorMsg}}</h3>
    <form (submit)="save()">

        <table>

            <tr>
                <th>FirstName</th>
                <td><input type="text" name="firstName" [(ngModel)]="form.data.firstName"
                        placeholder="Enter your firstName">
                </td>
                <td style="color: red;">{{form.inputerror.firstName}}</td>
            </tr>

            <tr>
                <th>LastName</th>
                <td><input type="text" name="lastName" [(ngModel)]="form.data.lastName"
                        placeholder="Enter your lastName">
                </td>
                <td style="color: red;">{{form.inputerror.lastName}}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td><select name="roleId" [(ngModel)]="form.data.roleId">
                        <option [ngValue]="" value="undefined">{{'--------Select Role---------' }}</option>
                        <option *ngFor="let role of form.roleList" value="{{role.key}}">{{role.value}}</option>
                    </select>
                </td>
                <td style="color: red;">{{form.inputerror.roleId}}</td>
            </tr>
             <tr>
                <th>Gender</th>
                <td><select name="gender" [(ngModel)]="form.data.gender">
                        <option [ngValue]="" value="undefined">{{'--------Select Role---------' }}</option>
                        <option value="male">male</option>
                        <option value="female">female</option>
                        <option value="other">other</option>
                    </select>
                </td>
                <td style="color: red;">{{form.inputerror.roleId}}</td>
            </tr>
            <tr>
                <th>Login</th>
                <td><input type="text" name="loginId" [(ngModel)]="form.data.loginId" placeholder="Enter your email">
                </td>
                <td style="color: red;">{{form.inputerror.loginId}}</td>
            </tr>

            <tr>
                <th>Password</th>
                <td><input type="password" name="password" [(ngModel)]="form.data.password"
                        placeholder="Enter your password"></td>
                <td style="color: red;">{{form.inputerror.password}}</td>
            </tr>

            <tr>
                <th>Dob</th>
                <td><input type="date" name="dob" [(ngModel)]="form.data.dob"> </td>
                <td style="color: red;">{{form.inputerror.dob}}</td>
            </tr>

            <tr>
                <th></th>
                <td><input type="submit" value="save"></td>
            </tr>

        </table>

    </form>

</div>