<div align="center">

    <h1>User List</h1>

    <h3 style="color: green;">{{form.successMessage}}</h3>

    <table>
        <tr>
            <td>
                <input type="text" name="firstName" [(ngModel)]="form.searchParam.firstName"
                    placeholder="search by firstName">
            </td>
            <td>
                <button (click)="search()">search</button>
            </td>
        </tr>
    </table>

    <table border="1px" width="100%">
        <tr>
            <th>Delete</th>
            <th>Id</th>
            <th>FirstName</th>
            <th>lastName</th>
            <th>Role</th>
            <th>Login</th>

            <th>Edit</th>
        </tr>

        <tr align="center" *ngFor="let user of form.list">
            <td><input type="checkbox" (click)="onClickChecbox(user.id)"></td>
            <td>{{user.id}}</td>
            <td>{{user.firstName}}</td>
            <td>{{user.lastName}}</td>
            <td>{{user.roleName}}</td>
            <td>{{user.login}}</td>
            <td> <a (click)="edit( '/user/' +  user.id)" style="color: blue;">edit</a></td>
        </tr>

    </table>
</div>

<table width="100%">
    <tr>

        <td>
            <button [disabled]="form.pageNo == 0" (click)="previous()">previous</button>
        </td>
        <td align="center">
            <button [disabled]="form.deleteParam.id" (click)="delete()">delete</button>
        </td>
        <td align="right">
            <button [disabled]="form.list.length < 5" (click)="next()">next</button>
        </td>

    </tr>
</table>